version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_server
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: inventario
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

